<div id="marketing_add_box" class="add_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
    <form name="marketing_add_form">

       <div class="add_list">
            <h5><span class="wildcard">*</span>活动名称：</h5>
            <div class="add_value">
               <input type="text" class="inputtext" name="activity_name" field="活动名称" style="width:400px" />
            </div>
        </div>
        <div class="add_list">
            <h5><span class="wildcard">*</span>活动文件名称：</h5>
            <div class="add_value" id="inputId">
                <input type="text" class="inputtext" name="activity_file_name"  field="活动文件名称"  style="width:400px" />
            </div>
        </div>
        <div class="add_list">
          <h5><span class="wildcard">*</span>活动默认规则：</h5>
          <div class="add_value">
            <textarea class="textarea" name="activity_rule" style="width:400px;height:220px" field="活动默认规则" ></textarea>
        </div>
        </div>
    </form>
</div>

