<div id="marketing_show_box" class="detail_box mCustomScrollbar_y" data-mcs-theme="dark" >
    <table width="100%">
        <tbody>
        <tr>
            <th width="20%">活动名称：</th>
            <td width="80%">{$info.activity_name}</td>
        </tr>
        <tr>
            <th>活动文件名称：</th>
            <td >{$info.activity_file_name}</td>
        </tr>
        <tr>
            <th>活动默认规则：</th>
            <td>{$info.activity_rule}</td>
        </tr>
        </tbody>
    </table>

</div>