<include file="Common/header" />
<div class="main_con">

  <div class="operation_box">
      <div class="operation_con">
        <div class="currenttit">
          <i></i><span><em>企业管理</em>><em>企业审核</em></span>
        </div>
        <div class="operation_info">
            <isshow url="Enterprise/approve_excel">
                <button class="btn  export_button" data-url="Enterprise/approve_excel" data-type="url">
                    <i class="minicon exportoperation_icon"></i><span>导出Excel</span>
                </button>
            </isshow>
        </div>
      </div>
  </div>
  <div class="search_box">
    <form method="get" name="excel"  action="/index.php/Admin/Enterprise/approve_index">
        <input type="hidden" name="approve_index" value="approve_index"/>
      <div class="search_nav">
        <ul>
          
          <li>
            <input type="text" class="inputtext" name="enterprise_code" style="min-width:80px;width:80px;" maxlength="6" value="{$Think.get.enterprise_code}" placeholder="企业编号"/>
          </li>
          <li>
            <input type="text" class="inputtext" name="enterprise_name" value="{$Think.get.enterprise_name}" placeholder="企业名称"/>
          </li>
          <!--
          <li>
            <input type="text" class="inputtext" name="create_user" value="{$Think.get.create_user}" placeholder="创建人"/>
          </li>
          <li>
            <input type="text" class="inputtext" name="approve_user" value="{$Think.get.approve_user}" placeholder="审核人"/>
          </li>
          <li>
              <label class="inputlabel">创建时间：</label>
              <input type="text" class="inputtext start_datetime" name="create_start_datetime" value="{$Think.get.create_start_datetime}"/>
              <em class="inputto">至</em>
              <input type="text" class="inputtext end_datetime" name="create_end_datetime" value="{$Think.get.create_end_datetime}"/>
          </li>
          
          <li>
              <label class="inputlabel">审核时间：</label>
              <input type="text" class="inputtext start_datetime" name="approve_start_datetime" value="{$Think.get.approve_start_datetime}"/>
              <em class="inputto">至</em>
              <input type="text" class="inputtext end_datetime" name="approve_end_datetime" value="{$Think.get.approve_end_datetime}"/>
          </li>
        -->
          <li>
            <label class="inputlabel">审核状态：</label>
            <select class="select" name="approve_status" style="min-width:80px;">
              <option value="9">全部</option>
              <option value="0" <if condition='$Think.get.approve_status eq "0"'>selected</if> >待审核</option>
              <option value="1" <if condition='$Think.get.approve_status eq "1"'>selected</if>>审核通过</option>
              <option value="2" <if condition='$Think.get.approve_status eq "2"'>selected</if>>审核驳回</option>
            </select>
              <input type="hidden" value="9"/>
          </li>
           
        </ul>
      </div>
      <div class="search_btncon">
        <button class="btn add_btn">
          <i class="minicon search_icon"></i><span>查询</span>
        </button>
          <button type="button" class="btn export_btn  reset_button">
              <i class="minicon reload_icon"></i><span>重置</span>
          </button>
      </div>
    </form>
  </div>
  <div class="tablelist_box tablelistboxH">
    <div class="tablelist_con">

        <div class="tablelist_theadbox">
            <div class="tablelist_thead">
              <table>
                <tr>
                    <th width="50">序号</th>
                    <th width="80" class="change">企业编号</th>
                    <th width="180" class="change">企业名称</th>
                    <th width="130" class="change">公司电话</th>
                    <th width="80" class="change">联系人</th>
                    <!--
                    <th width="80" class="change">创建人</th>
                    <th width="150" class="change">创建时间</th>
                    -->
                    <th width="80" >审核状态</th>
                    <th width="80" class="change">审核人</th>
                    <th width="150">审核时间</th>
    
                    <th width="280">操作</th>
                </tr>
              </table>
            </div>
        </div>
        <div class="tablelist_tbody">
          <table>
            <volist name="enterprise_list" id="vo">
              <tr>
                  <td>{$vo.sort_no}</td>
                  <td>{$vo.enterprise_code}</td>
                  <td class="name">{$vo.enterprise_name}
                    <!--
                     <button class="operationbtn enterprise_approve_show" value="{$vo.enterprise_id}">
                        <span class="enterprise_name">{$vo.enterprise_name}</span>
                      </button>
                    -->
                  </td>
                  <td>{$vo.tel}</td>
                  <td>{$vo.contact_name}</td>
                  <!--
                  <td>{$vo.create_name}</td>
                  <td>{$vo.create_date}</td>
                -->
                  <td><if condition="$vo.approve_status eq '0'">待审核<elseif condition="$vo.approve_status eq '1'" />审核通过<elseif condition="$vo.approve_status eq '2'" />审核驳回</if></td>
                  <td>{$vo.approve_name}</td>
                  <td><if condition="$vo.approve_date neq '0000-00-00 00:00:00' ">{$vo.approve_date}</if></td>
                  <td class="operation_td">

                    <isshow url="Enterprise/approve_show">
                        <button class="operationbtn enterprise_approve_show" value="{$vo.enterprise_id}">
                            <span>查看</span>
                        </button>
                    </isshow>

                    <if condition="$vo.approve_status neq '1' ">

                        <isshow url="Enterprise/approve_edit">
                            <button class="operationbtn enterprise_approve_edit" value="{$vo.enterprise_id}">
                                  <span>编辑</span>
                            </button>
                        </isshow>
                        <isshow url="Enterprise/approve_credentials_edit">
                          <button class="operationbtn enterprise_approve_credentials_edit" value="{$vo.enterprise_id}">
                              <span>证件管理</span>
                          </button>
                        </isshow>
                        
                    </if>

                    <!-- 只有上传完了证件信息才显示审核 -->
                    <if condition="($vo.approve_status eq '0') && ($vo.icense_img neq '') && ($vo.icense_img_num neq '') ">
                        <isshow url="Enterprise/approve">
                            <button class="operationbtn enterprise_approve_status" value="{$vo.enterprise_id}">
                                <span>审核</span>
                            </button>
                        </isshow>
                    </if>
                    <!-- 只有未通过审核的人才能被删除 -->
                    <if condition="$vo.approve_status neq '1' ">
                        <isshow url="Enterprise/approve_delete">
                            <button class="operationbtn enterprise_approve_delete" value="{$vo.enterprise_id}">
                                <span>删除</span>
                            </button>
                        </isshow>
                    </if>

                  </td>
              </tr>
            </volist>
          </table>
        </div>
    </div>
  </div>
  <div class="page_box">
    <div class="page_con">
      {$page}
    </div>
  </div>
</div>
<include file="Common/footer" />
