<div id="user_set_password_box" class="add_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
  <form name="user_set_password_form">


    <div class="add_list">
        <h5><em class="wildcard">*</em>原密码：</h5>
        <div class="add_value">
          <span>
            <input 
            type="password" 
            class="inputtext" 
            field="原密码" 
            name="old_password"
            maxlength="16"
            vtype="password"
            placeholder="请输入原密码" 
            />
          </span>
        </div>
    </div>
    <div class="add_list">
          <h5><em class="wildcard">*</em>新密码：</h5>
          <div class="add_value">
            <span><input type="password" 
              class="inputtext"
               name="new_password"
               maxlength="16"
               vtype="password"
               msg="密码长度应在6位—16位之间"
               placeholder="请输入新密码" 
               /></span>
          </div>
    </div>
     <div class="add_list">
        <h5><em class="wildcard">*</em>重复新密码：</h5>
        <div class="add_value">
          <input type="password" 
              class="inputtext"
              field="确认密码"
              maxlength="16"
              repeat="new_password"
              empty="true"
              placeholder="请重复输入新密码"
              msg="确认密码与新密码不一致"
           />
        </div>
    </div>

    </form>
      <if condition="$Think.get.initial_password eq true">
        <span style="color:red;display:block;text-align:center;">对不起，您的密码过于简单，请及时修改！</span>
      </if>
</div>