<div id="enterpriseapply_add_box" class="add_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
    <form name="enterpriseapply_add_form" >
        <div class="add_list">
            <h5><em class="wildcard">*</em>提现金额：</h5>
            <div class="add_value"><input type="text" class="inputtext" maxlength="8" field="提现金额" vtype="money" name="apply_money" />元</div>
        </div>
        <div class="add_list">
        <h5><em class="wildcard">*</em>开户银行：</h5>
        <div class="add_value"><input type="text" class="inputtext" field="开户银行" name="bank_account" value="{$info.bank_account}"/></div>
    </div>
        <div class="add_list">
            <h5><em class="wildcard">*</em>开户省市：</h5>
            <div class="add_value"><input type="text" class="inputtext" field="开户省市" name="account_opening" value="{$info.account_opening}"/></div>
        </div>
        <div class="add_list">
            <h5><em class="wildcard">*</em>银行卡号：</h5>
            <div class="add_value"><input type="text" class="inputtext" vtype="trannum" field="银行卡号" name="card_number" value="{$info.card_number}" /></div>
        </div>
        <div class="add_list">
            <h5><em class="wildcard">*</em>开户人姓名：</h5>
            <div class="add_value"><input type="text" class="inputtext" field="开户人姓名" name="beneficiary_name" value="{$info.beneficiary_name}"/></div>
        </div>
        <div class="add_list">
            <h5><em class="wildcard">*</em>开户人电话：</h5>
            <div class="add_value"><input type="text" class="inputtext" field="开户人电话" vtype="tel" name="mobile" value="{$info.mobile}"/></div>
        </div>
        <div class="add_list">
            <h5>备注：</h5>
            <div class="add_value">
                <textarea class="textarea" name="remark" empty="true"></textarea>
            </div>
        </div>
    </form>
</div>