<div id="enterpriseapply_add_box" class="add_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
    <form name="enterpriseapply_add_form" >
        <input type="hidden" class="inputtext" name="apply_id" value="{$apply_id}"/>
        <div class="add_list">
            <h5><em class="wildcard">*</em>提现金额：</h5>
            <div class="add_value"><input type="text" class="inputtext" maxlength="8" name="apply_money"  field="提现金额" vtype="money"  value="{$apply_money}" />元</div>
        </div>
        <div class="add_list">
            <h5><em class="wildcard">*</em>开户银行：</h5>
            <div class="add_value"><input type="text" class="inputtext" name="bank_account" field="开户银行" value="{$bank_account}" /></div>
        </div>
        <div class="add_list">
            <h5><em class="wildcard">*</em>开户省市：</h5>
            <div class="add_value"><input type="text" class="inputtext" name="account_opening" field="开户省市" value="{$account_opening}" /></div>
        </div>
        <div class="add_list">
            <h5><em class="wildcard">*</em>银行卡号：</h5>
            <div class="add_value"><input type="text" class="inputtext" name="card_number" field="银行卡号" value="{$card_number}" /></div>
        </div>
        <div class="add_list">
            <h5><em class="wildcard">*</em>开户人姓名：</h5>
            <div class="add_value"><input type="text" class="inputtext" field="开户人姓名" name="beneficiary_name" value="{$beneficiary_name}" /></div>
        </div>
        <div class="add_list">
            <h5><em class="wildcard">*</em>开户人电话：</h5>
            <div class="add_value"><input type="text" class="inputtext" field="开户人电话" vtype="tel" name="mobile" value="{$mobile}" /></div>
        </div>
        <div class="add_list">
            <h5>备注：</h5>
            <div class="add_value">
                <textarea class="textarea" name="remark" empty="true"></textarea>
            </div>
        </div>
    </form>
</div>