<div id="detail_box" class="detail_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
    <table width="100%">
        <tr>
            <th width="20%">公告标题：</th>
            <td colspan="3">{$infoview.notice_title}</td>
        </tr>
        <tr>
            <th>公告内容：</th>
            <td colspan="3">{$infoview.notice_content}</td>
        </tr>
        <tr>
            <th >发布时间：</th>
            <td colspan="3">{$infoview.create_date|substr=###,0,10}</td>
        </tr>
        <!--<tr>
            <th width="20%">开始时间：</th>
            <td width="30%">{$infoview.valid_date_begin|substr=###,0,10}</td>
            <th width="20%">结束时间：</th>
            <td width="30%">{$infoview.valid_date_end|substr=###,0,10}</td>
        </tr>
        -->
    </table>
</div>