<div id="detail_box" class="detail_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
    <table width="100%">
        <tr>
            <th width="40%">通道编码：</th>
            <td width="60%">{$channel_code}</td>
        </tr>
        <tr>
            <th  width="40%">通道名称：</th>
            <td width="60%">{$channel_name}</td>
        </tr>
        <tr>
            <th >通道文件名称：</th>
            <td>{$channel_file_name}</td>
        </tr>

        <!--<tr>
            <th >移动折扣：</th>
            <td>{$discount_mobile|show_discount_ten=###}</td>
        </tr>
        <tr>
            <th >联通折扣：</th>
            <td>{$discount_unicom|show_discount_ten=###}</td>
        </tr>
        <tr>
            <th >电信折扣：</th>
            <td>{$discount_telecom|show_discount_ten=###}</td>
        </tr>-->
        <tr>
            <th>省份：</th>
            <td>{$city_id|get_city_province_name=$province_id}</td>
        </tr>
        <tr>
            <th>市：</th>
            <td>{$city_name|default="--"}</td>
        </tr>

        <tr>
            <th>通道状态：</th>
            <td><if condition="$status eq '0'">已禁用<else />正常</if></td>
        </tr>
       

    </table>
</div>