<div class="checkinfo_box mCustomScrollbar_y" data-mcs-theme="dark" id="add_box" style="display:none;">
    <div class="detail_box" style="padding:0 0;">  
        <table width="100%">
                <tbody>
                <tr>
                    <th width="17%">企业名称：</th>
                    <td width="25%">{$list.enterprise_name}</td>
                    <th width="20%">企业编号：</th>
                    <td width="33%">{$list.enterprise_code}</td>
                </tr>
                <tr>
                    <th>借款编号：</th>
                    <td>{$list.loan_code}</td>
                    <th>借款金额：</th>
                    <td>{$list.loan_money}元</td>
                </tr>
                <tr>
                    <th>借款时间：</th>
                    <td>{$list.loan_date|msubstr=0,10,"utf-8",false}</td>
                    <th>预计还款时间：</th>
                    <td>{$list.repayment_date|msubstr=0,10,"utf-8",false}</td>
                 </tr>
                <tr>
                    <th>审核状态：</th>
                    <td colspan="3">{$list.approve_status|get_contract_status}</td>
                 </tr>
                <tr>
                    <th>备注：</th>
                    <td colspan="3">{$list.remark}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <form name="enterpriseBorrowManagement_approve_form">
        <input type="hidden" name="loan_id" value="{$list.loan_id}"/>
        <input type="hidden"  name="enterprise_id" value="{$list.enterprise_id}" />
        <input type="hidden" name="type" value="{$type}"/> 
        <div class="checkinfo_con">
            <div class="add_list">
                <h5><span class="wildcard"></span>审核：</h5>
                <div class="add_value">
                <empty name="type">
                    <label class="radio  checked" value="1"><em>复审通过</em></label>
                    <label class="radio"  value="2"><em>复审驳回</em></label>
                <else/>
                    <label class="radio  checked" value="1"><em>初审通过</em></label>
                    <label class="radio"  value="2"><em>初审驳回</em></label>
                </empty>
                    <input type="hidden" name="approve_status" id="approve_status"  value="1" />
                </div>
            </div>
            <div class="add_list">
                <h5><span class="wildcard"></span>审核原因：</h5>
                <div class="add_value">
                    <textarea class="textarea" name="approve_remark"  id ='approve_remark' empty="true"></textarea>
                </div>
            </div>
        </div>
    </form>
    
</div>