<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>流量查询</title>
		<link href="{$role}css/list.css" rel="stylesheet" />
		<link href="css/list.css" rel="stylesheet" />
		<!--<script type="text/javascript" charset="UTF-8">
				localStorage.clear();
		</script>-->
	</head>

	<body style="background:#EEEEF5;">
		<div class="helpCenter_list">
			<ul>
				<li class="type">
					<br>
					<ul>
						<a href="http://wap.ct10000.com/pages/login/login_userLogin.html">
							<li class="list packet">
								<div class="imgCustom">
									<img class="iconImg" src="/Application/Sdk/View/WxFlowPayment/images/dianxin.png">
								</div>

								<span>电信流量查询</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">
							</li>
						</a>
					</ul>
					<br>
					<ul>
						<a href="https://uac.10010.com/oauth2/new_auth?display=wap&page_type=05&app_code=ECS-YH-WAP&redirect_uri=http">
							<li class="list packet">
								<div class="imgCustom">
									<img class="iconImg" src="/Application/Sdk/View/WxFlowPayment/images/liantong.png">
								</div>

								<span>联通流量查询</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">
							</li>
						</a>
					</ul>
					<br>
					<ul>
						<a href="https://login.10086.cn/html/login/touch.html?channelID=12014&backUrl=http">
							<li class="list" style="border-top: 0.5px solid #e4e9ef;">
								<div class="imgCustom">
									<img class="iconImg" src="/Application/Sdk/View/WxFlowPayment/images/yidong.png">
								</div>
								<span>移动流量查询</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">

							</li>
						</a>
					</ul>
				</li>
		</div>
	</body>

</html>