<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>流量应用场景</title>
		<link href="{$role}css/list.css" rel="stylesheet" />
		<link href="css/list.css" rel="stylesheet" />
		<!--<script type="text/javascript" charset="UTF-8">
				localStorage.clear();
		</script>-->
	</head>

	<body style="background:#EEEEF5;">
		<div class="helpCenter_list">
			<ul>
				<li class="type">
					<br>
					<ul>
						<a href="{$url}/index.php/Sdk/Index/index/mod/TigerRoundModule/func/index/aid/6/user_type/2/user_id/90">
							<li class="list" style="border-top: 0.5px solid #e4e9ef;">
								<div class="imgCustom">
									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/tiger_shake_icon.png">
								</div>
								<span>幸运大抽奖</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">

							</li>
						</a>

						<a href="{$url}/index.php/Sdk/Index/index/mod/SmashingGoldenEggs/func/index/aid/5/user_type/2/user_id/90">
							<li class="list" style="border-bottom: 0.5px solid #e4e9ef;">
								<div class="imgCustom">

									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/eggs_icon.png">
								</div>

								<span>砸金蛋</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">

							</li>
						</a>
					</ul>
					<br>
					<ul>
						<a href="{$url}/index.php/Sdk/Index/index/mod/Slotmachine/func/index/aid/4/user_type/2/user_id/90">
							<li class="list" style="border-top: 0.5px solid #e4e9ef;">
								<div class="imgCustom">
									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/tiger_icon.png">
								</div>
								<span>老虎机</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">
							</li>
						</a>

						<a href="{$url}/index.php/Sdk/Index/index/mod/RoundAboutModule/func/index/aid/1/user_type/2/user_id/90">
							<li class="list" style="border-bottom: 0.5px solid #e4e9ef;">
								<div class="imgCustom">

									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/round_about_icon.png">
								</div>

								<span>大转盘</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">

							</li>
						</a>
					</ul>
					<br>
					<ul>
						<a href="{$url}/index.php/Sdk/Index/index/mod/FlowShakeModule/func/index/aid/2/user_type/2/user_id/90">
							<li class="list" style="border-bottom: 0.5px solid #e4e9ef;">
								<div class="imgCustom">

									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/shake_icon.png">
								</div>

								<span>摇一摇</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">
							</li>
						</a>

						<a href="{$url}/index.php/Sdk/Index/index/mod/ScratchModule/func/index/aid/3/user_type/2/user_id/90">
							<li class="list" style="border-top: 0.5px solid #e4e9ef;">
								<div class="imgCustom">

									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/scratch_icon.png">
								</div>

								<span>刮刮乐</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">

							</li>
						</a>
					</ul>
				</li>
		</div>
	</body>

</html>