<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<title>流量应用场景</title>
		<link href="{$role}css/list.css" rel="stylesheet" />
		<link href="css/list.css" rel="stylesheet" />
		<!--<script type="text/javascript" charset="UTF-8">
				localStorage.clear();
		</script>-->
	</head>
	<body style="background:#EEEEF5;">
		<div class="helpCenter_list">
			<ul>
				<li class="type">
					<br>
					<ul>
						<a href="http://www.liuliang.net.cn/index.php/Sdk/WxFlowPayment/aindex?RkBNRA==">
							<li class="list">
								<div class="imgCustom">
									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/recharge_icon.png">
								</div>
								<span>流量充值</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">
							</li>
						</a>
					</ul>
					<br>
					<ul>
						<a href="http://www.liuliang.net.cn/index.php/Sdk/FlowRed/aindex?RkBNRA==">
							<li class="list packet">
								<div class="imgCustom">
									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/redbag_icon.png">
								</div>

								<span>流量红包</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">
							</li>
						</a>
					</ul>
					<br>
					<ul>
						<a href="http://www.liuliang.net.cn/index.php/PointValueManage/Api/index?RkBNRA==">
							<li class="list packet">
								<div class="imgCustom">
									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/pointvalue.jpg">
								</div>

								<span>积分系统</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">
							</li>
						</a>
					</ul>
					<br>
					<ul>
						<a href="http://www.liuliang.net.cn/index.php/Activity/Index/aindex?Sg==">
							<li class="list" style="border-top: 0.5px solid #e4e9ef;">
								<div class="imgCustom">
									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/tiger_shake_icon.png">
								</div>
								<span>幸运大抽奖</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">

							</li>
						</a>

						<a href="http://www.liuliang.net.cn/index.php/Activity/Index/aindex?SQ==">
							<li class="list" style="border-bottom: 0.5px solid #e4e9ef;">
								<div class="imgCustom">

									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/eggs_icon.png">
								</div>

								<span>砸金蛋</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">

							</li>
						</a>
					</ul>
					<br>
					<ul>
						<a href="http://www.liuliang.net.cn/index.php/Activity/Index/aindex?SA==">
							<li class="list" style="border-top: 0.5px solid #e4e9ef;">
								<div class="imgCustom">
									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/tiger_icon.png">
								</div>
								<span>老虎机</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">
							</li>
						</a>

							<a href="http://www.liuliang.net.cn/index.php/Activity/Index/aindex?RQ==">
							<li class="list" style="border-bottom: 0.5px solid #e4e9ef;">
								<div class="imgCustom">

									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/round_about_icon.png">
								</div>

								<span>大转盘</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">

							</li>
						</a>
					</ul>
					<br>
					<ul>
						<a href="http://www.liuliang.net.cn/index.php/Activity/Index/aindex?Rg==">
							<li class="list" style="border-bottom: 0.5px solid #e4e9ef;">
								<div class="imgCustom">

									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/shake_icon.png">
								</div>

								<span>摇一摇</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">
							</li>
						</a>

						<a href="http://www.liuliang.net.cn/index.php/Activity/Index/aindex?Rw==">
							<li class="list" style="border-top: 0.5px solid #e4e9ef;">
								<div class="imgCustom">

									<img class="iconImg" src="/Application/Sdk/View/FlowRootIndex/images/scratch_icon.png">
								</div>

								<span>刮刮乐</span>
								<img class="arrow" src="/Application/Sdk/View/FlowRootIndex/images/help_list_ico.png">

							</li>
						</a>
					</ul>
				</li>
		</div>
	</body>

</html>