<!-- 添加通道 -->
<div id="channel_discount_add_box" class="add_box mCustomScrollbar_y" data-mcs-theme="dark">
  <form name="channel_discount_add_form">
    <div class="add_list">  
        <h5><em class="wildcard">*</em>通道名称：</h5>
        <!--<div class="add_value">
            <select name="channel_id" class="select" msg="请选择通道名称">
                <option value="" >请选择</option>
                <volist name="channel" id="voc">
                    <option value="{$voc.channel_id}" >{$voc.channel_name}</option>
                </volist>
            </select>
        </div>-->
        <div class="add_value">
            <input type="text" class="inputtext" name="delegate_name" id="inputchannel"  field="通道名称" >
            <input type='hidden' name='channel_id' id='channel_ids' value=''>
        </div>
    </div>
    <div class="add_list">  
        <h5><em class="wildcard">*</em>运营商：</h5>
        <div class="add_value">
            <select name="operator_id" class="select" msg="请选择运营商">
                <option value="" >请选择</option>
                <volist name="operator" id="voo">
                    <option value="{$voo.operator_id}" >{$voo.operator_name}</option>
                </volist>
            </select>
        </div>
    </div>

    <div class="add_list">  
        <h5>省份：</h5>
        <div class="add_value">
            <select name="province_id" class="select" id="province_id" msg="请选择省份" onchange="get_is_filter(1)" empty="true">
                <option value="" >请选择</option>
                <volist name="province" id="vop">
                    <option value="{$vop.province_id}" >{$vop.province_name}</option>
                </volist>
            </select>
        </div>
    </div>
      <div class="add_list" id="filter_city">
          <h5>市：</h5>
          <div class="add_value">
              <select name="city_id" id="city_id" class="select" empty="true">
                  <option value="" >请选择</option>
                  <volist name="citys" id="vop">
                      <option value="{$vop.city_id}" >{$vop.city_name}</option>
                  </volist>
              </select>
          </div>
      </div>

    <div class="add_list">
        <h5><em class="wildcard">*</em>折扣数：</h5>
        <div class="add_value"><input type="text" class="inputtext" field="折扣数" vtype="money" name="discount_number" maxlength="5" value="" /></div>
        <div class="promptinfo"><span>折&nbsp;（如8.6折）</span></div>
    </div>

      <div class="add_list">
          <h5>返利折扣数：</h5>
          <div class="add_value"><input type="text" class="inputtext" field="返利折扣数" vtype="money" name="rebate_discoun" maxlength="5" value="" empty="true" /></div>
          <div class="promptinfo"><span>折&nbsp;（如8.6折）</span></div>
      </div>

  </form>
</div>

