<include file="Common/header" />
<div class="main_con">

  <div class="operation_box">
      <div class="operation_con">
        <div class="currenttit">
          <i></i><span><em>通道管理</em>><em>通道折扣</em></span>
        </div>
        <div class="operation_info">
          <isshow url="ChannelDiscount/add">
            <button class="btn add_btn channel_discount_add_btn">
              <i class="minicon addoperation_icon"></i><span>新增通道折扣</span>
            </button>
              <if condition="is_jurisdiction('ChannelDiscount/add') and is_jurisdiction('ChannelDiscount/export_excel')">
                  <span class="line">|</span>
              </if>
          </isshow>
          
            <isshow url="ChannelDiscount/export_excel">
                <button class="btn  export_button" data-url="ChannelDiscount">
                    <i class="minicon exportoperation_icon"></i><span>导出Excel</span>
                </button>
            </isshow>
        </div>
      </div>
  </div>
  <div class="search_box">
    <form method="get" name="excel" action="/index.php/Admin/ChannelDiscount/index">
      <div class="search_nav">
        <ul>
            <li>
                <input type="text" class="inputtext" name="channel_code" value="{$Think.get.channel_code}" placeholder="通道编码"/>
            </li>
            <li>
                <input type="text" class="inputtext" name="channel_name" value="{$Think.get.channel_name}" placeholder="通道名称"/>
            </li>
          <!--<li>
              <label class="inputlabel">通道名称：</label>
              <select class="select" name="channel_id" style='min-width:80px'>
                <option value="">请选择</option>
                <volist name="channel" id="voc">
                    <option value="{$voc.channel_id}" <if condition='$Think.get.channel_id eq $voc["channel_id"]'>selected</if> >{$voc.channel_name}</option>
                </volist>
              </select>
              <input type="hidden" value=""/>
            </li>-->
            <li>
              <label class="inputlabel">运营商：</label>
              <select class="select" name="operator_id" style='min-width:80px'>
                <option value="">请选择</option>
                <volist name="operator" id="voo">
                    <option value="{$voo.operator_id}" <if condition='$Think.get.operator_id eq $voo["operator_id"]'>selected</if> >{$voo.operator_name}</option>
                </volist>
              </select>
                <input type="hidden" value=""/>
            </li>
            <li>
              <label class="inputlabel">省份：</label>
              <select class="select" name="province_id" id="province_id" style='min-width:80px' onchange="get_is_filter(1)">
                <option value="">请选择</option>
                <volist name="province" id="vop">
                    <option value="{$vop.province_id}" <if condition='$Think.get.province_id eq $vop["province_id"]'>selected</if> >{$vop.province_name}</option>
                </volist>
              </select>
                <input type="hidden" value=""/>
            </li>
            <li>
                <label class="inputlabel">市：</label>
                <select class="select" name="city_id" id="city_id" style='min-width:100px'>
                    <option value="">请选择</option>
                    <volist name="citys" id="v">
                        <option value="{$v.city_id}" <if condition='$Think.get.city_id eq $v["city_id"]'>selected</if> >{$v.city_name}</option>
                    </volist>
                </select>
                <input type="hidden" value=""/>
            </li>
        </ul>
      </div>
      <div class="search_btncon">
        <button class="btn add_btn">
          <i class="minicon search_icon"></i><span>查询</span>
        </button>
          <button type="button" class="btn export_btn  reset_button">
              <i class="minicon reload_icon"></i><span>重置</span>
          </button>
      </div>
    </form>
  </div>
  <div class="tablelist_box tablelistboxH">
    <div class="tablelist_con " data-mcs-theme="dark">
      <div class="tablelist_theadbox">
           <div class="tablelist_thead">
              <table>
                <tr>
                    <th width="50">序号</th>
                    <th width="140" class="change">通道编码</th>
                    <th width="140" class="change">通道名称</th>
                    <th width="100" class="change">运营商</th> 
                    <th width="100" class="change">省份</th>
                    <th width="100" class="change">市</th>
                    <th width="80" class="change">折扣数</th>
                    <th width="80" class="change">返利折扣数</th>
                    <th width="140">操作</th>
                </tr>
              </table>
            </div>
        </div>
        <div class="tablelist_tbody" data-mcs-theme="dark">
          <table>
            <volist name="channeldiscount_list" id="vo">
              <tr>
                  <td>{$vo.sort_no}</td>
                  <td>{$vo.channel_code}</td>
                  <td>{$vo.channel_name}</td>                  
                  <td>{$vo.operator_name}</td>
                  <td>{$vo.city_id|get_city_province_name=$vo['province_id']}</td>
                  <td>{$vo.city_name|default='--'}</td>
                  <td>{$vo.discount_number|show_discount_ten=###} 折</td>
                  <td>{$vo.rebate_discoun|show_discount_ten=###} 折</td>
                  <td class="operation_td">
                      <button class="operationbtn channel_discount_show_btn" value="{$vo.discount_id}">
                          <!--<i class="minicon edit_icon"></i>-->
                          <span>查看</span>
                      </button>
                    <isshow url="ChannelDiscount/edit">
                      <button class="operationbtn channel_discount_edit_btn" value="{$vo.discount_id}">
                      <!--<i class="minicon edit_icon"></i>-->
                      <span>编辑</span>
                      </button>
                    </isshow>
                    <isshow url="ChannelDiscount/delete">
                      <button class="operationbtn channel_discount_delete_btn" value="{$vo.discount_id}">
                      <!--<i class="minicon delete_icon"></i>-->
                      <span>删除</span>
                      </button>
                    </isshow>
                    <!--
                    <isshow url="Channel/toggle_status">
                      <button class="operationbtn channel_toggle_status_btn" data-original-title="<if condition="$vo.status eq 1">禁用<else />启用</if>" value="{$vo.channel_id}" data-value="{$vo.channel_name}">
                      </!-/-<i <if condition="$vo['status'] eq 0">class="minicon reviewpass_icon"<elseif condition="$vo['status'] eq 1" />class="minicon reviewdis_icon"</if> ></i> -/-/>
                      <span><if condition="$vo['status'] eq 0">启用<elseif condition="$vo['status'] eq 1" />禁用</if></span>
                      </button>
                    </isshow>
                    -->
                  </td>
              </tr>
            </volist>
          </table>
        </div>
    </div>
  </div>
  <div class="page_box">
    <div class="page_con">
      {$page}
    </div>
  </div>
</div>
<include file="Common/footer" />
