<div id="add_box" class="add_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
    <form name="enterpriseFrozen_add_form" >
        <div class="add_list">
            <h5><em class="wildcard">*</em>企业名称：</h5>
            <div class="add_value">
                <input type="text" class="inputtext" name="delegate_name" id="inputusername" data-nameall="allchild" field="企业商名称" data-usertype="enterprise">
                <input type='hidden' name='enterprise_id' id='user_type_ids' value=''>
            </div>
        </div>
        <div class="add_list">
            <h5><em class="wildcard">*</em>申请金额：</h5>
            <div class="add_value"><input type="text" class="inputtext" maxlength="7"  field="申请金额" name="apply_money" /></div>
            <div class="promptinfo"><span>元</span></div>
        </div>
        <div class="add_list hidden">
            <h5>备注：</h5>
            <div class="add_value">
                <textarea class="textarea" name="frozen_remark" empty="true"></textarea>
            </div>
        </div>
    </form>
</div>