<div id="add_box" class="add_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
    <form name="enterprise_frozen_relieve_form" >
        <input type="hidden" name="apply_id" value="{$apply_id}" />
        <div class="add_list">
            <h5>企业名称：</h5>
            <div class="add_value"><span>{$enterprise_name}</span></div>
        </div>
        <div class="add_list">
            <h5>企业编号：</h5>
            <div class="add_value"><span>{$enterprise_code}</span></div>
        </div>
        <div class="add_list">
            <h5>申请金额：</h5>
            <div class="add_value"><span>{$apply_money}元</span></div>
        </div>
        <div class="add_list hidden">
            <h5>备注：</h5>
            <div class="add_value">
                <textarea class="textarea" name="thaw_remark" empty="true" ></textarea>
            </div>
        </div>
    </form>
</div>