<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta content="email=no" name="format-detection" />
		<meta content="telephone=no" name="format-detection" />
		<title>流量充值</title>
		<script src="__PUBLIC__/utils/js/jquery-2.2.3.js"></script>
		<link rel="stylesheet" href="{$role}css/reset.css" />
		<link rel="stylesheet" href="{$role}css/gdindex.css" />
	</head>
	<body>
		<div class="container">
			<div class="notice_box">
				<div class="notice_con">
					<div class="notice_icon">
					<span>公告</span>	
				</div>
				<div class="notice_txt">
					<p>{$pub_notice}~</p>
				</div>
				</div>
			</div>
			<div class="input_box">
				<div class="tel_input">
					<input type="tel"  class="inputText" placeholder="请输入手机号码" oninput="test(this)" value="" />
				</div>
				<div class="operators_img">
					<span id="OperatorsName" ></span>
					<img id="OperatorsImg" src="{$role}images/yidong.png" class="hide" >
				</div>
			</div>
			<div class="recharge_box">
				<p id="tip" class="tip">全国可以用，立即生效，当月有效</p>
				<div class="recharge_tabs">
					<ul>
						<li class="active" id="country">
							<a id="countryButton" type="button" onclick="countryClick(this)"  href="javascript:;">充全国</a>
						</li>
						<li id = "province">
							<a id="countryButton" type="button" onclick="provinceClick(this)"  href="javascript:;">充省内</a>
						</li>
					</ul>
				</div>
			<div class="recharge_list list1">
				<ul>
				</ul>
			</div>
			<div class="recharge_list list2">
				<ul>
					</ul>
				</div>
			</div>
				<if condition='$consumer_phone neq null'>
					<div class="custom_service">
						<span>
						<a href="tel:{$consumer_phone}" >客服电话</a>
						<em>|</em>
						<a href="javascript:void(0);"  onclick="tipClick()">常见问题</a>
						</span>
					</div>
					<else/>
					<div class="custom_service">
						<span>
						<a href="javascript:void(0)" >客服电话</a>
						<em>|</em>
						<a href="javascript:void(0);"  onclick="tipClick()">常见问题</a>
						</span>
					</div>

			</if>
		</div>


		<input type="hidden" name="role" id="role" value="{$role}">
		<input type="hidden" name="user_type" id="user_type" value="{$user_type}">
		<input type="hidden" name="user_id" id="user_id" value="{$user_id}">
		<input type="hidden" name="openid" id="openid" value="{$openid}">
		<input type="hidden" name="code" id="code" value="<?php echo $_GET['code'];?>">
		<div id="wxpay"></div>
		<!--流量分享需求-->
		<input type="hidden" name="timestamp" id="timestamp" value="{$timestamp}">
		<input type="hidden" name="nonceStr" id="nonceStr" value="{$nonceStr}">
		<input type="hidden" name="signature" id="signature" value="{$signature}">
		<input type="hidden" name="APPID" id="APPID" value="{$APPID}">
		<input type="hidden" name="FlowProductTitle" id="FlowProductTitle" value="{$FlowProductTitle}">
		<input type="hidden" name="FlowProductdesc" id="FlowProductdesc" value="{$FlowProductdesc}">
		<input type="hidden" name="Link" id="Link" value="{$Link}">
		<input type="hidden" name="localimgUrl" id="localimgUrl" value="{$localimgUrl}">
		<!--流量分享需求-->

		<!--分享流量-->
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js?s={$version_number}"></script>
		<script type="text/javascript" src="{$role}js/shareFlowRed.js?s={$version_number}"></script>

		<script type="text/javascript" src="{$role}js/gdindex.js?s=33" ></script>
		<script type="text/javascript" src="{$role}js/common.js" ></script>
		<script>
			function tipClick() {
				window.location.href = "/index.php/Sdk/WxFlowPayment/showTip?user_type={$user_type}&user_id={$user_id}";
			}
		</script>

	</body>
</html>
