<include file="Common/header" />

<div class="main_con">
  <div class="operation_box">
      <div class="operation_con">
        <div class="currenttit">
          <i></i><span><em>资金管理</em>><em>代理商充值管理</em></span>
        </div>
          <div class="operation_info">
              <isshow url="ProxyRecharge/st_voucher">
                  <button class="btn add_btn st_voucher_add_function">
                      <i class="minicon addoperation_icon"></i><span>充值申请</span>
                  </button>
              </isshow>
              <if condition="is_jurisdiction('ProxyRecharge/st_voucher') and is_jurisdiction('ProxyRecharge/export_excel')">
                  <span class="line">|</span>
              </if>
              <isshow url="ProxyRecharge/export_excel">
                  <button class="btn  export_button" data-url="ProxyRecharge">
                      <i class="minicon exportoperation_icon"></i><span>导出Excel</span>
                  </button>
              </isshow>
          </div>
      </div>
  </div>

  <div class="search_box">
    <form method="get" name="excel" action="/index.php/Admin/ProxyRecharge/index">
    <div class="search_nav minheight60">
      <ul>
            <li>
              <input type="text" class="inputtext" name="proxy_code" maxlength="6" style='min-width:80px' value="{$Think.get.proxy_code}" placeholder="代理商编号"/>
            </li>
            <li>
              <input type="text" class="inputtext" name="proxy_name" value="{$Think.get.proxy_name}" placeholder="代理商名称"/>
            </li>
            <li>
              <input type="text" class="inputtext" name="apply_code" maxlength="20" style='min-width:80px' value="{$Think.get.apply_code}" placeholder="申请编号"/>
            </li>
            <li>
          <label class="inputlabel">审核状态：</label>
          <select class="select" name="approve_status" style='min-width:80px'>
            <option value="9" selected>全部</option>
            <option value="2" <if condition='$Think.get.approve_status eq 2'>selected</if>>待审核</option>
            <option value="3" <if condition='$Think.get.approve_status eq 3'>selected</if>>初审通过</option>
            <option value="4" <if condition='$Think.get.approve_status eq 4'>selected</if>>初审驳回</option>
            <option value="5" <if condition='$Think.get.approve_status eq 5'>selected</if>>复审通过</option>
            <option value="6" <if condition='$Think.get.approve_status eq 6'>selected</if>>复审驳回</option>
          </select>
                <input type="hidden" value="9"/>
        </li>
          <li>
              <label class="inputlabel">充值类型：</label>
              <select class="select" name="apply_type" style='min-width:80px'>
                  <option value="0" selected>全部</option>
                  <option value="1" <if condition='$Think.get.apply_type eq 1'>selected</if>>正常充值</option>
                  <option value="2" <if condition='$Think.get.apply_type eq 2'>selected</if>>测试款</option>
              </select>
              <input type="hidden" value="9"/>
          </li>
          <li>
              <label class="inputlabel">申请时间：</label>
              <input type="text" class="inputtext inputdateall" name="start_datetime"  value="<if condition='$Think.get.start_datetime eq "" '> {$d_sdata}<else />{$Think.get.start_datetime}</if>" style='min-width:80px' onClick="WdatePicker({startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
              <em class="inputto">至</em>
              <input type="text" class="inputtext inputdateall" name="end_datetime"   value="<if condition='$Think.get.end_datetime eq "" '> {$d_edata}<else />{$Think.get.end_datetime}</if>" style='min-width:80px' onClick="WdatePicker({startDate:'%y-%M-%d 23:59:59',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
          </li>
          <li>
          <label class="inputlabel">付款方式：</label>
          <select class="select" name="source" style="min-width:80px">
            <option value="0" selected>全部</option>
            <volist name="source_name" id="sourcename">
                <option value="{$key}" <if condition='$Think.get.source eq $key'>selected</if>>{$sourcename}</option>
            </volist>
            </select>
              <input type="hidden" value="0"/>
        </li>
      </ul>
    </div>
    <div class="search_btncon">
      <button class="btn add_btn">
        <i class="minicon search_icon"></i><span>查询</span>
      </button>
        <button type="button" class="btn export_btn  reset_button">
            <i class="minicon reload_icon"></i><span>重置</span>
        </button>
    </div>
        <div class="prepaidtip" >
            <p> 付款金额合计：【<span style="color:#5cb95c;">{$sum_results.sum_money_one|default="0.000"}</span>元】</p>
        </div>
    </form>
  </div>
  <div class="tablelist_box tablelistboxH">
    <div class="tablelist_con">
        <div class="tablelist_theadbox">
            <div class="tablelist_thead">
              <table>
                <tr>
                    <th width="50">序号</th>
                    <th width="80" class="change">代理商编号</th>
                    <th width="150" class="change">代理商名称</th>
                    <th width="150" class="change">申请编号</th>
                    <th width="80" class="change">付款金额(元)</th>
                    <th width="80" class="change">付款方式</th>
                    <th width="70" class="change">充值类型</th>
                    <th width="80" class="change">付款日期</th>
                    <th width="70" class="change">复审人</th>
                    <th width="70" class="change">审核状态</th>
                    <!--<th width="70" class="change">充值状态</th>-->
                    <th width="80" class="change">申请人</th>
                    <th width='120' class="change">申请时间</th>
                    <th width="150">操作</th>
                </tr>
              </table>
            </div>
        </div>
        <div class="tablelist_tbody">
          <table>
            <volist name="list" id="vo">
                <tr>
                    <td>{$vo.sort_no}</td>
                    <td>{$vo.proxy_code} </td>
                    <td>{$vo.proxy_name} </td>
                    <td>{$vo.apply_code} </td>
                    <td class="money_style">{$vo.apply_money}</td>
                    <if condition="$vo.source eq 0">
                      <td></td>
                    <else/>
                      <td title="{$vo.source|get_source_name}">{$vo.source|get_source_name}</td>
                    </if>
                    <td><if condition='$vo.apply_type eq 1'>正常充值<elseif condition='$vo.apply_type eq 2' />测试款<else />--</if></td>
                    <td>{$vo.transaction_date|default="--"}</td>
                    <td>{$vo.apply_id|get_approve_people=1}</td>
                    <td title="{$vo.approve_status|get_apply_status}">{$vo.approve_status|get_apply_status}</td>
                    <!--<td><if condition='$vo.approve_status eq 5'>已充值<else/>未充值</if></td>-->
                    <td>{$vo.create_user_id|get_user_name}</td>
                    <td title="{$vo.$transaction_date}">{$vo.create_date}</td>
                    <td class="operation_td">
                        <button class="operationbtn proxyRecharge_detailed_function" value="{$vo.apply_id}">
                            <!--<i class="minicon detailed_icon"></i>-->
                            <span>查看</span>
                        </button>
                        <if condition='(($vo.approve_status eq 1) or ($vo.approve_status eq 4) or ($vo.approve_status eq 6))and (($vo.create_user_id eq $user_id) or ($user_id eq 1))'>
                            <isshow url="ProxyRecharge/st_edit">
                                <button class="operationbtn proxyRecharge_strecharge_edit_function" value="{$vo.apply_id}" >
                                    <!--<i class="minicon edit_icon"></i>-->
                                    <span>编辑</span>
                                </button>
                            </isshow>
                            <isshow url="ProxyRecharge/delete">
                                <button class="operationbtn proxyRecharge_delete_function"   value="{$vo.apply_id}" >
                                    <!-- <i class="minic n delete_icon"></i>-->
                                    <span>删除</span>
                                </button>
                            </isshow>
                        </if>
                    <if condition="$vo.top_proxy_id eq $proxy_id">
                    <if condition="(is_jurisdiction('ProxyRecharge/proxy_approve_c')) AND ($vo.approve_status eq 2)">
                      <isshow url="ProxyRecharge/proxy_approve_c">
                        <button class="operationbtn proxyRecharge_approve_function" data-value="proxy_approve_c" value="{$vo.apply_id}">
                          <!--<i class="minicon check_icon"></i>-->
                          <span>初审</span>
                        </button>
                      </isshow>
                    </if>
                      <if condition="(is_jurisdiction('ProxyRecharge/proxy_approve')) AND ($vo.approve_status eq 3)">
                        <isshow url="ProxyRecharge/proxy_approve">
                          <button class="operationbtn proxyRecharge_approve_function" data-value="proxy_approve" value="{$vo.apply_id}">
                              <!--<i class="minicon check_icon"></i>-->
                              <span>复审</span>
                          </button>
                        </isshow>
                      </if>
                    </if>
                    </td>
                </tr>
            </volist>
          </table>
        </div>
    </div>
  </div>
  <div class="page_box">
    <div class="page_con">
        {$page}
    </div>
  </div>
</div>
<include file="Common/footer" />