<!-- 添加公司黑名单 -->
<div id="mobileblack_add_box" class="add_box mCustomScrollbar_y" data-mcs-theme="dark">
    <form name="mobileblack_add_form">
        <div class="add_list">
            <h5><em class="wildcard">*</em>手机号码：</h5>
            <div class="add_value"><span><input type="text" class="inputtext"
                vtype="tel" field="手机号码" maxlength="20" name="mobile" /></span>
            </div>
        </div>

        <div class="add_list">
            <h5>备注：</h5>
            <div class="add_value"><textarea class="textarea" name="remark" empty="true"></textarea></div>
        </div>
    </form>
</div>

