<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no">
<title>幸运大抽奖</title>
<link rel="stylesheet"  type="text/css" href="{$role}css/flowTigerRound.css" />
<!--分享流量-->
<script type="text/javascript" src="{$role}js/shareFlowRed.js"></script>
<script type="text/javascript" src="__PUBLIC__/utils/js/shareFlowRed.js"></script>
</head>
<body>
<div id="tigerRoundTitle">
	<img src="{$role}images/tigerRoundTitle.png" />
</div>
	
<!-- 代码 开始 -->
<div id="lottery">
	<!--<div id="tigerRoundBg"><img src="../images/tigerRoundBg.png"/></div>-->
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td class="lottery-unit" ><!--第0个格子流量产品td列 10M-->
				<div class="basicLottery lottery-unit-0" style="background-color: #ffefef;">
					<img class="flowProduct" src="{$role}images/1.png">
					<div class="flowSizeInfo">
						<span class="flowSizeIndex-0 sizeValue">10</span><span class="flowSizeUnit-0 sizeUnit">M流量</span>
					</div>
				</div>
			</td>
			<td class="lottery-unit" ><!--第1个格子流量产品td列，谢谢参与-->
				<div class="basicLottery lottery-unit-1" style="background-color: #ffefef;">
					<img class="flowProduct" src="{$role}images/2.png">
				</div>
			</td>
			<td class="lottery-unit" ><!--第2个格子流量产品td列，谢谢参与-->
				<div class="basicLottery lottery-unit-2" style="background-color: #ffefef;">
					<img class="flowProduct" src="{$role}images/2.png">
				</div>
			</td>
            <td class="lottery-unit" ><!--第3个格子流量产品td列 50M-->
            		<div class="basicLottery lottery-unit-3" style="background-color: #ffefef;">
            			<img  class="flowProduct" src="{$role}images/1.png">
            			<div class="flowSizeInfo">
						<span class="flowSizeIndex-2 sizeValue">50</span><span class="flowSizeUnit-2 sizeUnit">M流量</span>
					</div>
            		</div>
            </td>
		</tr>
		<tr>
			<td class="lottery-unit"><!--第11个格子流量产品td列，谢谢参与-->
				<div class="basicLottery lottery-unit-11" style="background-color: #ffefef;">
					<img class="flowProduct" src="{$role}images/2.png">
				</div>
			</td>
			<td colspan="2" rowspan="2"><img id="btnStartId" src="{$role}images/btnStart.png"/></td><!--中间开始抽奖按钮-->
			<td class="lottery-unit"><!--第4个格子流量产品td列，谢谢参与-->
				<div class="basicLottery lottery-unit-4" style="background-color: #ffefef;">
					<img class="flowProduct" src="{$role}images/2.png">
				</div>
			</td>
		</tr>
		<tr>
			<td class="lottery-unit"><!--第10个格子流量产品td列，20M-->
				<div class="basicLottery lottery-unit-10" style="background-color: #ffefef;">
					<img class="flowProduct" src="{$role}images/1.png">
					<div class="flowSizeInfo">
						<span class="flowSizeIndex-1 sizeValue">20</span><span class="flowSizeUnit-1 sizeUnit">M流量</span>
					</div>
				</div>
			</td>
			<td class="lottery-unit" ><!--第5个格子流量产品td列，20M-->
				<div class="basicLottery lottery-unit-5" style="background-color: #ffefef;">
					<img class="flowProduct" src="{$role}images/1.png">
					<div class="flowSizeInfo">
						<span class="flowSizeIndex-1 sizeValue">20</span><span class="flowSizeUnit-1 sizeUnit">M流量</span>
					</div>
				</div>
			</td>
		</tr>
        <tr>
			<td class="lottery-unit"><!--第9个格子流量产品td列，谢谢参与-->
				<div class="basicLottery lottery-unit-9" style="background-color: #ffefef;">
					<img class="flowProduct" src="{$role}images/2.png">
				</div>
			</td>
			<td class="lottery-unit"><!--第8个格子流量产品td列，30M-->
				<div class="basicLottery lottery-unit-8" style="background-color: #ffefef;">
					<img class="flowProduct" src="{$role}images/1.png">
					<div class="flowSizeInfo">
						<span class="flowSizeIndex-3 sizeValue">30</span><span class="flowSizeUnit-3 sizeUnit">M流量</span>
					</div>
				</div>
			</td>
			<td class="lottery-unit"><!--第7个格子流量产品td列，10M-->
				<div class="basicLottery lottery-unit-7" style="background-color: #ffefef;">
					<img class="flowProduct" src="{$role}images/1.png">
					<div class="flowSizeInfo">
						<span class="flowSizeIndex-0 sizeValue">10</span><span class="flowSizeUnit-0 sizeUnit">M流量</span>
					</div>
				</div>
			</td>
            <td class="lottery-unit"><!--第6个格子流量产品td列，谢谢参与-->
            		<div class="basicLottery lottery-unit-6" style="background-color: #ffefef;">
            			<img class="flowProduct" src="{$role}images/2.png">
            		</div>
            </td>
		</tr>
	</table>
</div>

<div class="ActivityRules">
	<div class="ActivityRuleslefthr">
		<hr >
	</div>
	<div class="ActivityRulescenter">
		<span>您当前参与活动的手机号码</span>
	</div>
	<div class="ActivityRulesrighthr">
		<hr>
	</div>
</div>
<div class="barDiv"> 
	<div class="phoneNumberContent">
		<span id="phoneNumber">158 1132 5272<span>
	</div> 
	<img src="{$role}images/bar.png" id = "barImg">
</div>
<div class="activeTime">
			{$activeTime}
</div>
	<if condition="$type eq 1">
		<form action="{:U('FlowValue/foot')}" method="get" id='form1'> 
	<else/>
		<form action="{:U('Index/foot')}" method="post" id='form1'> 
	</if>
		<input type="hidden" name='active' id="active" value="{$active}">
		<input type="hidden" name='phone' id="phone" value="{$phone}">
		<input type="hidden" name="activity_id" id="activity_id" value="{$activity_id}">
		<input type="hidden" name="user_activity_id" id="user_activity_id" value="{$user_activity_id}">
		<input type="hidden" name="openid" id="openid" value="{$openid}"> 
		<input type="hidden" name="flowSize" id="flowSize" value="">
		<input type="hidden" name="orderid" id="orderid" value="">
		<input type="hidden" name="nickname" id="nickname" value="{$nickname}">
		<input type="hidden" name="user_type" id="user_type" value="{$user_type}">
		<input type="hidden" name="user_id" id="user_id" value="{$user_id}">
		<input type="hidden" name="headimgurl" id="headimgurl" value="{$headimgurl}">  
	</form>
		<!--流量分享需求-->
		<input type="hidden" name="mod" id="mod" value="{$mod}">
		<input type="hidden" name="func" id="func" value="{$func}">
		<input type="hidden" name="timestamp" id="timestamp" value="{$timestamp}">
		<input type="hidden" name="nonceStr" id="nonceStr" value="{$nonceStr}">
		<input type="hidden" name="signature" id="signature" value="{$signature}">
		<input type="hidden" name="APPID" id="APPID" value="{$APPID}">
		<input type="hidden" name="FlowProductTitle" id="FlowProductTitle" value="{$FlowProductTitle}">
		<input type="hidden" name="FlowProductdesc" id="FlowProductdesc" value="{$FlowProductdesc}">
		<input type="hidden" name="localimgUrl" id="localimgUrl" value="{$localimgUrl}">
		<input type="hidden" name="Link" id="Link" value="{$Link}">
		<!--流量分享需求-->
<script>
	//var jsonData=<?php echo $rt;?>;
	var jsonData={$rt};
</script>
<script type="text/javascript" src="__PUBLIC__/utils/js/jquery-2.2.3.js"></script>
<script type="text/javascript" src="{$role}js/flowTigerRound.js"></script>
<script type="text/javascript" src="__PUBLIC__/utils/js/get_para.js"></script>
<!-- <script src="../../SmashingGoldenEggs/js/SGE.js"></script> -->
<script type="text/javascript">
htmlFontSize();
window.onresize = function() {  
	htmlFontSize();
}
function htmlFontSize() {
	var w = document.documentElement.clientWidth;
	var i = parseInt(w) / 768;
	document.documentElement.style.fontSize = (parseInt(w) / 768) * 40 + "px";
}
</script>
<!-- 代码 结束 -->
</body>
</html>