<div id="credentials_box" class="add_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
  <form name="credentials_form">
     <div class="add_list">
      <h5>代理商编号：</h5>
      <div class="add_value">
        <span>{$proxy.proxy_code}</span>
      </div>
    </div>
    <div class="add_list">
      <h5>代理商名称：</h5>
      <div class="add_value">
        <span>{$proxy.proxy_name}</span>
      </div>
    </div>
        <input type="hidden" name="proxy_id" value="{$proxy.proxy_id}">
     <div class="add_list">
         <if condition="$user_type eq 2">
             <h5><em class="wildcard">*</em>营业执照附件：</h5>
         <else/>
            <h5><if condition="$is_top_proxy_admin eq true"><em class="wildcard">*</em></if>营业执照附件：</h5>
         </if>
        <div class="add_value">
             
            <if condition="$proxy.icense_img neq '' ">
                <img src="{$proxy.icense_img}" style="margin-top:4px;" class="imginput"><span><php> echo basename($proxy['icense_img']);</php></span>
                    <!--
                    <button type="button" class="btn export_btn filelook_btn">
                        <i class="minicon export_icon"></i><span>预览</span>
                    </button>
                    -->
                <button type="button" style="margin-top:6px;"  class="btn export_btn filedown_btn" onclick="down_file('{:U('Proxy/approve_credentials_edit',array('proxy_id'=>$proxy['proxy_id'],'download'=>'icense_img'))}')">
                    <i class="minicon export_icon"></i><span>下载</span>
                </button>
            </if> 
            <input type="file" class="fileinput maxwidth156" style="margin-top:5px;"  name="icense_img"/>
        </div>
    </div>

    <div class="add_list">
        <if condition="$user_type eq 2">
            <h5><em class="wildcard">*</em>营业执照编号：</h5>
        <else/>
            <h5><if condition="$is_top_proxy_admin eq true"><em class="wildcard">*</em></if>营业执照编号：</h5>
        </if>
        <div class="add_value"><input type="text" class="inputtext" 
            field="营业执照编号"
            maxlength="21"
            name="icense_img_num"  value="{$proxy.icense_img_num}"  /></div>

    </div>
     <div class="add_list">
        <h5>
          <!--<if condition="$is_top_proxy_admin eq true"><em class="wildcard">*</em></if>-->
          法人身份证附件：
          </h5>
        <div class="add_value">
            
             <if condition="$proxy.identity_img neq '' ">
                 <img src="{$proxy.identity_img}" style="margin-top:4px;"  class="imginput" ><span><php> echo basename($proxy['identity_img']);</php></span>

                <button type="button" style="margin-top:6px;" class="btn export_btn filedown_btn" onclick="down_file('{:U('Proxy/approve_credentials_edit',array('proxy_id'=>$proxy['proxy_id'],'download'=>'identity_img'))}')">
                    <i class="minicon export_icon"></i><span>下载</span>
                </button>
            
            </if> 
            <input type="file" class="fileinput maxwidth156" style="margin-top:5px;" name="identity_img"/>
        </div>
    </div>

    <div class="add_list">
        <h5>
          <!--
          <if condition="$is_top_proxy_admin eq true"><em class="wildcard">*</em></if>
          -->
          法人身份证号码：</h5>
        <div class="add_value"><input type="text"
            field="法人身份证号码"
            empty="true"
             maxlength="18"
              class="inputtext"
               name="identity_img_num"
                value="{$proxy.identity_img_num}" /></div>

    </div>
    
    </form>
</div>
