<div id="proxy_approve_box" class="checkinfo_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
  <div class="detail_box" style="padding:0 0;">  
   <table width="100%">
        <thead>
            <tr>
                <th width="100%" colspan="4">基本信息</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th >代理商名称：</th>
                <td>{$proxy.proxy_name}</td>
                <th >代理商编号：</th>
                <td >{$proxy.proxy_code}</td>
            </tr>
             <tr>
                <th width="15%">公司电话：</th>
                <td width="35%">{$proxy.tel}</td>
                <th width="15%">邮箱：</th>
                <td width="35%">{$proxy.email}</td>
            </tr>
             <tr>
               
                <th>联系人：</th>
                <td >{$proxy.contact_name}</td>
                 <th >联系人电话：</th>
                <td >{$proxy.contact_tel}</td>
            </tr>
            <tr>
                <th>营业执照编号：</th>
                <td>{$proxy.icense_img_num}</td>
                <th>营业执照附件：</th>
                <td colspan="3">
                    <if condition="$proxy.icense_img neq '' ">
                        <img src="{$proxy.icense_img}" width="20px" height="20px" style="width:20px;height:20px;margin-top:2px;margin-left:8px;float:left;"><span style="margin-top:5px;float:left;margin-left:8px;"><php> echo basename($proxy['icense_img']);</php></span>
                    <!--
                    <button type="button" class="btn export_btn filelook_btn">
                        <i class="minicon export_icon"></i><span>预览</span>
                    </button>
                    -->
                        <!--onclick="location.href='{:U('Proxy/approve_show',array('proxy_id'=>$proxy['proxy_id'],'download'=>'icense_img'))}'"-->
                    <button type="button" style="margin-top:5px;"  class="btn export_btn filedown_btn down_btn" onclick="down_file('{:U('Proxy/approve_show',array('proxy_id'=>$proxy['proxy_id'],'download'=>'icense_img'))}')">
                        <i class="minicon export_icon"></i><span>下载</span>
                    </button>
                    <else />
                        <span>没有可用附件</span>
                    </if> 
                </td>
            </tr>
             <tr>
                 <th>身份证号码：</th>
                <td >{$proxy.identity_img_num}</td>
                <th>身份证附件：</th>
                <td >
                    <if condition="$proxy.identity_img neq '' ">
                         <img src="{$proxy.identity_img}" width="20px" height="20px" style="width:20px;height:20px;margin-top:2px;margin-left:8px;float:left;"><span style="margin-top:5px;float:left;margin-left:8px;"><php> echo basename($proxy['identity_img']);</php></span>
                        <button style="margin-top:5px;" type="button" class="btn export_btn filedown_btn" onclick="down_file('{:U('Proxy/approve_show',array('proxy_id'=>$proxy['proxy_id'],'download'=>'identity_img'))}')">
                            <i class="minicon export_icon"></i><span>下载</span>
                        </button>
                    <else />
                        <span>没有可用附件</span>
                    </if> 
                </td>
            </tr>
            <tr>
                 <th >支持运营商：</th>
                <td colspan="3">{$proxy.operator}</td>
            </tr>
             <tr>
                <th >地址：</th>
                <td colspan="3">{$proxy.province_name}{$proxy.city_name}{$proxy.address}</td>
            </tr>
        </tbody>
    </table>

   </div>

  <form name="proxy_approve_form">

    <input type="hidden" name="proxy_id" value="{$proxy.proxy_id}">
    <div class="checkinfo_con">
           <div class="add_list">
          <h5>审核状态：</h5>
          <div class="add_value">
            <label class="radio  checked " value="1" ><em>审核通过</em></label>
            <label class="radio  " value="2" ><em>审核驳回</em></label>
            <input type="hidden" name="approve_status" value="1">
          </div>
      </div>
      <div class="add_list">
          <h5>审核说明：</h5>
          <div class="add_value"><textarea style="resize: none;height:80px;" class="textarea" name="approve_remark"></textarea></div>
      </div>
    </div>
    </form>
  
</div>
