<div id="proxy_show_box" class="detail_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
    <table width="100%">
        <thead>
             <tr>
                <th width="100%" colspan="4">基本信息</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th >代理商名称：</th>
                <td>{$proxy.proxy_name}</td>
                <th >代理商编号：</th>
                <td >{$proxy.proxy_code}</td>
                
            </tr>
             <tr>
                <th width="15%">公司电话：</th>
                <td width="35%">{$proxy.tel}</td>
                <th width="15%">邮箱：</th>
                <td width="35%">{$proxy.email}</td>
                
            </tr>
             <tr>
                <th >联系人：</th>
                <td >{$proxy.contact_name}</td>
                <th >联系人电话：</th>
                <td >{$proxy.contact_tel}</td>
                
            </tr>
            <!--
            <tr>
                <th >上级代理名称：</th>
                <td >{$proxy.top_name}</td>
                <th >上级代理编号：</th>
                <td >{$proxy.top_code}</td>
            </tr>
            -->
            <tr>
                <th >营业执照编号：</th>
                <td >{$proxy.icense_img_num}</td>
                <th >营业执照附件：</th>
                <td>
                    <if condition="$proxy.icense_img neq '' ">
                    <img src="{$proxy.icense_img}" width="20px" height="20px" style="width:20px;height:20px;margin-top:2px;margin-left:8px;float:left;"><span style="margin-top:5px;float:left;margin-left:8px;"><php> echo basename($proxy['icense_img']); </php></span>
                    <!--
                    <button type="button" class="btn export_btn filelook_btn">
                        <i class="minicon export_icon"></i><span>预览</span>
                    </button>
                    -->
                    <button  style="margin-top:5px;" type="button" class="btn export_btn filedown_btn" onclick="down_file('{:U('Proxy/show',array('proxy_id'=>$proxy['proxy_id'],'download'=>'icense_img'))}')">
                        <i class="minicon export_icon"></i><span>下载</span>
                    </button>
                    <else />
                        <span>没有可用附件</span>
                    </if>   
                </td>
            <tr/>

             <tr>
                 <th >身份证号码：</th>
                <td >{$proxy.identity_img_num}</td>
                <th >身份证附件：</th>
                <td>
                     <if condition="$proxy.identity_img neq '' ">
                        <img src="{$proxy.identity_img}" width="20px" height="20px" style="width:20px;height:20px;margin-top:2px;margin-left:8px;float:left;"><span style="margin-top:5px;float:left;margin-left:8px;"><php> echo basename($proxy['identity_img']); </php></span>
                    <!--
                    <button type="button" class="btn export_btn filelook_btn">
                        <i class="minicon export_icon"></i><span>预览</span>
                    </button>
                    -->
                        <button style="margin-top:5px;" type="button" class="btn export_btn filedown_btn" onclick="down_file('{:U('Proxy/show',array('proxy_id'=>$proxy['proxy_id'],'download'=>'identity_img'))}')">
                            <i class="minicon export_icon"></i><span>下载</span>
                        </button>
                    <else />
                        <span>没有可用附件</span>
                    </if> 
                </td>
            </tr>
            <tr>
                <th >支持运营商：</th>
                <td>{$proxy.operator}</td>
                <th >退款状态：</th>
                <td><if condition="$proxy.refund_status eq '0' ">禁止退款
                    <elseif condition="$proxy.refund_status eq '1' "/>启用退款
                </if></td>
            </tr>
                
             <tr>
                <th>地址：</th>
                <td colspan="3">{$proxy.province_name}{$proxy.city_name}{$proxy.address}</td>
            </tr>
        </tbody>
    </table>

    <!--
     <table width="100%">
         <tr>
            <th width="100%" colspan="4" style="text-align:center;font-size:14px;">代理商管理人</th>
        </tr>
        <tr>
            <th >姓名</th>
            <td >{$proxy.admin_name}</td>
            <th >登录名称</th>
            <td>{$proxy.admin_login_name}</td>
        </tr>
         <tr>
            <th width="13%">手机号码</th>
            <td width="37%">{$proxy.admin_mobile}</td>
            <th width="13%">邮箱</th>
            <td width="37%">{$proxy.admin_email}</td>
        </tr>
    </table>


    <table width="100%">
         <tr>
            <th width="100%" colspan="4" style="text-align:center;font-size:14px;">资金信息</th>
        </tr>
        <tr>
            <th width="13%">账户余额</th>
            <td class="money_style" width="37%"><span style="font-size:14px;">¥&nbsp;&nbsp;&nbsp;&nbsp;</span>{$proxy.account_balance|default="0.00"}&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:14px;">元&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
            <th width="13%">冻结金额</th>
            <td class="money_style" width="37%"><span style="font-size:14px;">¥&nbsp;&nbsp;&nbsp;&nbsp;</span>{$proxy.freeze_money|default="0.00"}&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:14px;">元&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
        </tr>
    </table>

    <table width="100%">
         <tr>
            <th width="100%" colspan="4" style="text-align:center;font-size:14px;">上级代理信息</th>
        </tr>
        <tr>
            <th >代理商编号</th>
            <td >{$proxy.top_code}</td>
            <th >代理商名称</th>
            <td>{$proxy.top_name}</td>
        </tr>
         <tr>
            <th width="13%">代理商电话</th>
            <td width="37%">{$proxy.top_tel}</td>
            <th width="13%">代理商联系人</th>
            <td width="37%">{$proxy.top_contact_name}</td>
        </tr>
        <tr>
            <th width="13%">代理商地址</th>
            <td colspan="3" width="87%">{$proxy.top_address}</td>
        </tr>
    </table>
    -->
    <table width="100%">
         <thead>
             <tr>
                <th width="100%" colspan="4">客户经理信息</th>
            </tr>
        </thead>

        <tbody>
             <tr>

                <th width="15%">客户经理姓名：</th>
                <td width="35%">{$proxy.sale_name}</td>
                <th width="15%">联系电话：</th>
                <td width="35%">{$proxy.sale_mobile}</td>

            </tr>
        </tbody>
    </table>
    
    <table width="100%">
        <thead>
            <tr>
                <th width="100%" colspan="4" >审核信息</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th width="15%">审核状态：</th>
                <td width="35%">
                    <if condition="$proxy.approve_status eq '0' "> 待审核
                    <elseif condition="$proxy.approve_status eq '1' "/>审核通过
                    <elseif condition="$proxy.approve_status eq '2'" />审核驳回
                    </if> 
                </td>
                <th width="15%">审核人：</th>
                <td width="35%">{$proxy.approve_name}</td>
               
            </tr> 
            <tr>
                <th>审核时间：</th>
                <td colspan="3"><if condition="$proxy.approve_date neq '0000-00-00 00:00:00' ">{$proxy.approve_date}</if></td>
            </tr>
            <tr>
                <th >审核备注：</th>
                <td colspan="3">{$proxy.approve_remark}</td>
            </tr>
        </tbody>
    </table>


</div>