<div id="detail_box" class="detail_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
    <table width="100%">
        <tr>
            <th width="20%">产品编号：</th>
            <td width="30%">{$number}</td>
            <th  width="20%">产品名称：</th>
            <td width="30%">{$product_name}</td>
        </tr>
        <tr>
            <th >通道编码：</th>
            <td>{$channel_code}</td>
            <th >通道名称：</th>
            <td>{$channel_name}</td>
        </tr>
        <tr>
            <th>流量包大小：</th>
            <td>{$size}M</td>
            <th >运营商：</th>
            <td>{$operator_name}</td>
        </tr>
        <tr>
            <th>省份：</th>
            <td>{$city_id|get_city_province_name=$province_id}</td>
            <th>市：</th>
            <td>{$city_name|default='--'}</td>
        </tr>
        <tr>
            <th>标准价格：</th>
            <td class="money_style" colspan="3">{$price|default="0.000"}元</td>
        </tr>
       

    </table>
</div>