<!-- 添加节点 -->
<div id="function_add_box" class="add_box mCustomScrollbar_y" data-mcs-theme="dark" style="display:none;">
  <form name="function_add_form">

    <div class="add_list">
        <h5><em class="wildcard">*</em>功能名称：</h5>
        <div class="add_value"><input type="text" class="inputtext" field="功能名称" name="function_name" /></div>
    </div>
    <div class="add_list">
        <h5><em class="wildcard">*</em>功能地址：</h5>
        <div class="add_value"><input type="text" class="inputtext" field="功能地址" name="action_url" /></div>
    </div>
    <div class="add_list">
        <h5>排序号：</h5>
        <div class="add_value"><input type="text" class="inputtext" name="order_num" empty="true" value="{$order_num}" /></div>
    </div>
    <!--<div class="add_list">
        <h5><em class="wildcard">*</em>功能状态：</h5>
        <div class="add_value">
            <label class="radio" value="0"><em>禁用</em></label>
            <label class="radio checked" value="1"><em>启用</em></label>
            <input type="hidden" name="status" value="1">
        </div>
    </div>-->
    <input type="hidden" name="status" value="1">
    <div class="add_list">
        <h5>备注：</h5>
        <div class="add_value"><textarea class="textarea" name="remake" empty="true"></textarea></div>
    </div>
    <input type="hidden" name="menu_id" value="{$Think.get.menu_id}" />
  </form>
</div>