<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="__PUBLIC__/WxHome/css/reset.css" />
		<link rel="stylesheet" href="__PUBLIC__/WxHome/css/base.css" />
		<script type="text/javascript" src="__PUBLIC__/WxHome/js/setFontSize.js"></script>
		<script type="text/javascript" src="__PUBLIC__/WxHome/js/jquery-1.8.3.min.js"></script>
		<!--<script type="text/javascript" src="__PUBLIC__/WxHome/js/common.js"></script>-->
		<title>爱讯流量</title>
		<script type="text/javascript">

		jQuery(document).ready(function() {
			$(document).on("click", "#bind", function(event) {
				if (valid()) {
					var postData = {
						openid : $.trim($("#openid").val()),
						password : $.trim($("#password").val()),
						username : $("#username").val()
					};
					// $.showLoading();
					// setTimeout(function() {
					// 	$.hideLoading();
					// }, 3000);

// 									if (valid()) {
// 					var openid = $.trim($("#openid").val());
// 					var password = $.trim($("#password").val());
// 					var username = $.trim($("#username").val());
// action="/index.php/Admin/ChannelDiscountRecord/index"
// 					alert(3123);
// 					window.location = "/index.php/WxHome/Index/bindapi/openid/"+openid+"/password/"+password+"/username/"username;
// 				}


					$.ajax({
						type : "POST",
						url :  "/index.php/WxHome/Index/bindapi",
						data : postData,
						success : function(msg) {
							
							$(".titleword").text(msg.msg);
							$(".unbin_mask").show();
								$(".unbin_confirm").click(function(event){
									//event.stopPropagation();
									if(msg.status == 1)
									{
										var strurl = $.trim($("#url").val());
										//history.go(0);
										window.location = strurl;
									}
									else
									{
										//event.stopPropagation();
										//alert(msg.msg);
									}
									
									$(".bind").hide();
									$(".unbin_mask").hide();
								});		
							//$.hideLoading();
						}
					});
				}
			});
		});

	//输入信息验证
	function valid() {
		if ($("#username").val() == '' || $("#password").val() == '') {
			alert("用户名和密码不能为空");
			return false;
		}
		return true;
	};
</script>
	</head>
	<body>
		<div class="binding_logorow">
			<div class="binding_logo">
				<i class=""></i>
				<h4><span>爱</span><span>讯</span><span>流</span><span>量</span></h4>
			</div>
		</div>
		<div class="binding_form">
			<!--<form method="post" action="/index.php/WxHome/Index/bindapi">-->
			<input type="hidden" name="openid" id="openid" value="{$openid}">
			<input type="hidden" name="url" id="url" value="{$url}">
				<ul>
					<li>
						<div class="normal_input">
							<i class="login_icon user"></i>
							<input type="text" name="username" id="username" placeholder="请输入用户名@公司编号" />
						</div>
					</li>
					<li>
						<div class="normal_input">
							<i class="login_icon psw"></i>
							<input type="password" name="password"
						id="password" placeholder="请输入您的密码" />
						</div>
					</li>
				</ul>
				<button id="bind" class="big_btn sub_btn">绑&nbsp;定</button>
			<!--</form>-->
		</div>
		<div class="unbin_mask">
			<div class="unbin_confirm">
				<div class="unbin_top">
					<h3>温馨提示</h3>
				</div>
				<div class="unbin_bot">
					<p class="titleword" >您的企业账户绑定成功！</p>
					<div class="unbin_btnrow">
						<button type="button">确定</button>
					</div>
				</div>
			</div>
		</div>

		<p class="copy">
			本系统仅支持爱讯流量账号绑定
		</p>
	</body>
</html>
