<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>活动结束</title>
    <link rel="stylesheet" type="text/css" href="{$role}css/flow_end.css?s={$version_number}" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head>

<body>
    <div class="endBg">
    </div>
    <div class="endWord"></div>
    <div class="endCharater"></div>
    <div class="bottomlayout"></div>
</body>
<script>
    htmlFontSize();
    window.onresize = function() {
        htmlFontSize();
    }
    function htmlFontSize() {
        var w = document.documentElement.clientWidth;
        var i = (parseInt(w) - 15.0 / 375.0 * parseInt(w)) / 768.0;
        document.documentElement.style.fontSize = (i) * 40.0 + "px";
    }
</script>

</html>
