<include file="Common/header" />

<div class="main_con">
  <div class="operation_box">
      <div class="operation_con">
          <div class="currenttit">
              <i></i><span><em>营销场景</em>><em>红包购买记录</em></span>
          </div>
          <div class="operation_info">
              <if condition="is_jurisdiction('PayRedRecord/export_excel')">
                  <button class="btn  export_button" data-url="PayRedRecord">
                      <i class="minicon exportoperation_icon"></i><span>导出Excel</span>
                  </button>
              </if>
          </div>
      </div>
  </div>

  <div class="search_box">
    <form method="get" action="" name="excel" action="/index.php/Admin/PayRedRecord/index">
    <div class="search_nav"> 
      <ul>
          <if condition="$use neq 3">
              <li>
                  <input type="text" class="inputtext" name="user_name" value="{$Think.get.user_name}" placeholder="用户名称"/>
              </li>
          </if>
          <li>
            <input type="text" class="inputtext" name="red_order_code" value="{$Think.get.red_order_code}" placeholder="支付订单号"/>
          </li>
          <li>
              <label class="inputlabel">收款方式：</label>
              <select class="select" name="payment_type" style="min-width:80px">
                  <option value="9" <if condition='($Think.get.payment_type eq 9) or ($Think.get.payment_type eq null)'>selected</if>>全部</option>
                  <option value="1" <if condition='$Think.get.payment_type eq 1'>selected</if>>运营方收款</option>
                  <option value="2" <if condition='$Think.get.payment_type eq 2'>selected</if>>企业收款</option>
                  <option value="3" <if condition='$Think.get.payment_type eq 3'>selected</if>>代理商收款</option>
              </select>
                  <input type="hidden" value=""/>
          </li>
          <li>
              <label class="inputlabel">购买时间：</label>
              <input type="text" class="inputtext inputdateall" name="start_datetime" placeholder="开始时间" value="<if condition='$Think.get.start_datetime eq null '> {$default_start}<else />{$Think.get.start_datetime}</if>" style='min-width:80px'onClick="WdatePicker({startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly/>
              <em class="inputto">至</em>
              <input type="text" class="inputtext inputdateall" name="end_datetime" placeholder="结束时间" value="<if condition='$Think.get.end_datetime eq null '> {$default_end}<else />{$Think.get.end_datetime}</if>" style='min-width:80px' onClick="WdatePicker({startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss'})" readonly/>
          </li>
      </ul>
    </div>
    <div class="search_btncon">
      <button class="btn add_btn">
        <i class="minicon search_icon"></i><span>查询</span>
      </button>
        <button type="button" class="btn export_btn  reset_button">
        <i class="minicon reload_icon"></i><span>重置</span>
        </button>
    </div>
    </form>
  </div>
  <div class="tablelist_box tablelistboxH">
    <div class="tablelist_con" data-mcs-theme="dark">
        <div class="tablelist_theadbox">
        <div class="tablelist_thead">
          <table>
            <tr>
                <th width="50">序号</th>
                <if condition="$use neq 3">
                    <th width="70" class="change">用户类型</th>
                    <th width="120" class="change">用户名称</th>
                </if>
                <th width="100" class="change">购买金额(元)</th>
                <th width="100" class="change">收款方式</th>
                <th width="150" class="change">购买时间</th>
                <th width="180" class="change">支付订单号</th>
                <th width="150">操作</th>
            </tr>
          </table>
        </div>
        </div>
        <div class="tablelist_tbody" data-mcs-theme="dark">
          <table>
            <volist name="list" id="vo">
                <tr>
                    <td>{$vo.sort_no}</td>
                    <if condition="$use neq 3">
                        <td><if condition="$vo['user_type'] eq 1">代理商<else/>企业</if></td>
                        <td><if condition="$vo['user_type'] eq 1">{$vo.proxy_name}<else/>{$vo.enterprise_name}</if></td>
                    </if>
                    <td>{$vo.pay_price}</td>
                    <td>
                        <if condition="$vo.payment_type eq 1">
                            运营方收款
                        <elseif condition="$vo.payment_type eq 3"/>
                            代理商收款
                        <else/>
                            企业收款
                        </if>
                    </td>
                    <td>{$vo.pay_date}</td>
                    <td>{$vo.red_order_code}</td>
                    <td class="operation_td">
                        <button class="operationbtn pay_red_show_btn" value="{$vo.red_order_id}" data-type="{$use}">
                                <!--<i class="minicon edit_icon"></i>-->
                            <span>查看</span>
                        </button>
                        <if condition='$vo.refund_type eq 1'>
                            <isshow url="PayOrderRecord/pay_refund">
                                <if condition="$vo.pay_type eq 1">
                                    <button class="operationbtn" value="{$vo.red_order_id}" data-type="{$use}" onclick="top.openMenu('193_{$vo.red_order_id}','支付宝退款','{:U('PayRedRecord/pay_refund',array('red_order_id'=>$vo['red_order_id']),'')}');">
                                        <!--<i class="minicon edit_icon"></i>-->
                                        <span>退款</span>
                                    </button>
                                <else/>
                                    <button class="operationbtn pay_red_refund_btn" value="{$vo.red_order_id}" data-type="{$use}">
                                        <!--<i class="minicon edit_icon"></i>-->
                                        <span>退款</span>
                                    </button>
                                </if>
                            </isshow>
                        </if>
                    </td>
                </tr>
            </volist>
          </table>
        </div>
    </div>
  </div>
  <div class="page_box">
    <div class="page_con">
        {$page}
    </div>
  </div>
</div>

<include file="Common/footer" />