<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>找回密码-爱讯流量管理平台</title>
    <link href="__PUBLIC__/Admin/css/reset.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/index.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/login.css" rel="stylesheet">
    <script src="__PUBLIC__/Admin/js/jquery-1.12.1.min.js"></script>
</head>

<body>

<div class="loginheader whitebg">
  <div class="layout">
    <a href="/index.php/Admin/" class="logo"><img src="{$log_src}" alt="img"/></a>
    <span class="retrievepass_span">找回密码</span>
  </div>
</div>

<div class="retrievepass_wrap" id="password1">
  <div class="retrievepass_box">
    <div class="retrievepass_tit">
      <h2 class="collapsed"><i class="midicon retrievepass_icon"></i><span>请输入用户名和邮箱</span></h2>
    </div>
    <div class="retrievepass_error"><span id="error_text"></span></div>
    <div class="retrievepass_nav">
        <ul>
          <li><label class="label">登录名称：</label><input type="text" id="name" class="retrievepass_text"/></li>
          <li><label class="label">E-mail：</label><input type="text" id="email" class="retrievepass_text"/></li>
          <li><button class="loginbtn" onclick="password()">确定</button></li>
        </ul>
    </div>
    <div class="retrievepass_tip"><i></i><span>如果以上方式不能解决您的问题，请与您的客服联系！</span></div>
  </div>
</div>

<div class="retrievepass_wrap" id="password2" style="display:none;">
  <div class="retrievepass_box">
    <div class="retrievepass_tit">
      <h2 class="collapsed"><i class="midicon retrievepass_icon"></i><span>请输入新密码</span></h2>
    </div>
    <div class="retrievepass_error"><span id="error_text2"></span></div>
    <div class="retrievepass_nav">
        <ul>
          <li><label class="label">新密码：</label><input type="password" id="password" class="retrievepass_text"/></li>
          <li><label class="label">确定新密码：</label><input type="password" id="password_new" class="retrievepass_text"/></li>
          <li><button class="loginbtn" onclick="new_password()">确定</button></li>
        </ul>
    </div>
    <div class="retrievepass_tip"><i></i><span>如果以上方式不能解决您的问题，请与您的客服联系！</span></div>
  </div>
</div>

<div class="retrievepass_wrap" id="password3" style="display:none;">
    <div class="retrievepass_box">
           <div class="retrievepass_success">
             <img src="__PUBLIC__/Admin/images/register_success_18.png" alt="img"/>
             <p>恭喜您，密码修改成功！<span><em id="times">5</em>s后自动跳转到<a href="/index.php/Admin/">登录页</a></span></p>
           </div>
    </div>
  </div>
</div>


<div class="loginfooter whitebg">
  <p>Copyright &copy; 2008-2016 尚通科技 版权所有</p>
</div>
<script type="text/javascript">
    function password(){
        var name = $("#name").val();
        var email = $("#email").val();
        if(name==""){
            $("#error_text").html("请输入登录名称！");
        }else if(email==""){
            $("#error_text").html("请输入E-mail！");
        }else{
            $.post("/index.php/Admin/Public/back_password_ajax",{name:name,email:email},function(data){
                if(data.status=="error"){
                    $("#error_text").html(data.msg);
                }else{
                    $("#password1").hide();
                    $("#password2").show();
                }
            },"json");
        }
    }
    
    function new_password(){
        var password = $("#password").val();
        var password_new = $("#password_new").val();
        $.post("/index.php/Admin/Public/back_password_edit",{password:password,password_new:password_new},function(data){
            if(data.status=="error"){
                $("#error_text2").html(data.msg);
            }else{
                $("#password2").hide();
                $("#password3").show();
                setTimeout("success_time()",1000);
            }
        },"json");
    }
    function success_time(){
        var t = $("#times").html();
        t--;
        if(t==0){
            location.href="/index.php/Admin";
        }else{
            $("#times").html(t);
            setTimeout("success_time()",1000);
        }
    }
</script>
</body>
</html>