<include file="Common/header" />

<div class="main_con">
  <div class="operation_box">
      <div class="operation_con">
        <div class="currenttit">
          <i></i><span></span>
        </div>

          <div class="operation_info">
                <if condition="is_jurisdiction('DownStatements/export_excel')">
                    <button class="btn  export_button"  data-url="DownStatements/export_excel" data-type="url">
                        <i class="minicon exportoperation_icon"></i><span>导出Excel</span>
                    </button>
                </if>
            </div>
      </div>
  </div>

  <div class="search_box">
    <form method="get" name="excel" action="/index.php/Admin/DownStatements/index">
    <div class="search_nav minheight30">
      <ul>
          <li>
              <input type="text" class="inputtext" name="proxy_code" maxlength="6" style='min-width:80px' value="{$Think.get.proxy_code}" placeholder="代理商编号"/>
          </li>
        <li>
          <input type="text" class="inputtext" name="proxy_name" value="{$Think.get.proxy_name}" placeholder="代理商名称"/>
        </li>
          <!--<li>
              <label class="inputlabel">操作时间：</label>
              <input type="text" class="inputtext inputdateall" name="start_datetime"  value="<if condition='$Think.get.start_datetime eq "" '> {$d_sdata}<else />{$Think.get.start_datetime}</if>" style='min-width:80px' onClick="WdatePicker({startDate:'%y-%M-%d 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
              <em class="inputto">至</em>
              <input type="text" class="inputtext inputdateall" name="end_datetime"   value="<if condition='$Think.get.end_datetime eq "" '> {$d_edata}<else />{$Think.get.end_datetime}</if>" style='min-width:80px' onClick="WdatePicker({startDate:'%y-%M-%d 23:59:59',dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
          </li>-->
      </ul>
    </div>
    <div class="search_btncon">
      <button class="btn add_btn">
        <i class="minicon search_icon"></i><span>查询</span>
      </button>

        <button type="button" class="btn export_btn  reset_button">
            <i class="minicon reload_icon"></i><span>重置</span>
        </button>
    </div>
    </form>
  </div>
  <div class="tablelist_box tablelistboxH">
    <div class="tablelist_con">
        <div class="tablelist_theadbox">
            <div class="tablelist_thead">
              <table>
                <tr>
                    <th width="50">序号</th>
                    <th width="70" class="change">代理商编号</th>
                    <th width="130" class="change">代理商名称</th>
                    <th width="100" class="change">结算月份</th>
                    <th width="100" class="change">账单金额</th>
                </tr>
              </table>
            </div>
        </div>
        <div class="tablelist_tbody">
          <table>
            <volist name="StatProductList" id="vo">
                <tr>
                    <td>{$vo.sort_no}</td>
                    <td>{$vo.proxy_code}</td>
                    <td>{$vo.proxy_name} </td>
                    <td>{$vo.stat_month}</td>
                    <td>{$vo.sale_price|default="0"}</td>
                    
                </tr>
            </volist>
          </table>
        </div>
    </div>
  </div>
  <div class="page_box">
    <div class="page_con">
        {$page}
    </div>
  </div>
</div>
<include file="Common/footer" />