<include file="Common/header" />
<div class="main_con">
  <div class="operation_box">
      <div class="operation_con">
        <div class="currenttit">
          <i></i><span><em>流量场景</em>><em>微信授权平台</em></span>
        </div>
      </div>
  </div>
  <div class="thepublic_box">
    <div class="serviceplatform_con">
      <h2>第三方服务平台接入。</h2>
      <div class="serviceplatform_dl">
        <dt>爱讯流量平台将接管微信公众号以下功能：</dt>
        <dd>1.消息管理权限：帮助公众号接收用户信息，进行自动回复权限。</dd>
        <dd>2.网页服务权限：帮助公众号实现第三方网页服务和活动。</dd>
        <dd>3.用户管理权限：帮助公众号获取用户名信息，进行用户管理。</dd>
      </div>
      <div class="tc">
          <button class="btn add_btn" onclick="window.location.href='http://{$_SERVER['HTTP_HOST']}/index.php/WXServer/WXServerinfo/adduser'">
            <i class="minicon newagents_icon"></i><span>微信公众号</span>
          </button>
      </div>
    </div>
    <div class="serviceplatform_con">
      <h2>请企业使用微信公众号管理员的微信对生成的授权二维码进行授权。</h2>
      <div class="serviceplatform_dl">
        <dt>用户将公众号授权给爱讯流量之后。</dt>
        <dd>1.企业可以控制自己公众号对用户的自定义回复。</dd>
        <dd>2.企业可以用对话的模式让用户参与活动。</dd>
      </div>
    </div>
    <div class="serviceplatform_con">
      <h2>授权须知：</h2>
      <div class="serviceplatform_dl">
        <dt>微信公众号授权须知以下几点：</dt>
        <dd>1.用户开通订阅号授权时。需要在微信设置中填写appid。否则会出现。授权失败的现象。</dt>
        <dd>2.如果用户需要取消授权。需要在公众号内部取消。取消授权后。订阅号服务管理会失效。</dd>
        <dd>3.如果用户没有填写微信设置。进行公众号授权。造成授权失败。请填写appid。然后再在公众号后台取消授权后。再次授权。</dd>
      </div>
    </div>
  </div>
</div>
<include file="Common/footer" />
